<html>
    <head>

        <!-- Meta data -->
        <title>Drawer</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- External Links -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">        
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>                
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <script type="text/javascript" charset="utf-8">

            // Other variables
            var game_id = '{{ game_id }}';  
            var email = '{{ email }}';
            var is_drawer_turn = false;          
            var drawer_uploaded_images = false
            var target_image;
            var is_game_finished = false;
            var score = 0;
            var max_number_of_characters = 275;
            var previous_message = "";

            var socket;
            $(document).ready(function() {

                document.getElementById("send_message").disabled = true;            
                document.getElementById("textfield_input").disabled = true;

                var ext = 'https://';        
                if (location.hostname === "localhost" || location.hostname === "127.0.0.1") {
                    ext = "http://";
                }              

                socket = io.connect(ext + document.domain + ':' + location.port);
  
                socket.on('connect', function() {
                    socket.emit('join_game', {'game_id':game_id, 'user_type':'Drawer', 'email':email});          
                    socket.emit('get_game_data', {'game_id':game_id, 'user_type':'Drawer', 'email':email});             
                });       

                function finish_game() {                                                     
                    document.getElementById('send_message').style.display = "none";                                                    
                    document.getElementById('upload-images').style.display = "none";
                    document.getElementById('textfield_input').style.display = "none";
                    document.getElementById('title').innerHTML = "Game Finished";     
                    document.getElementById('target_image').style.display = "block"; 
                    document.getElementById('end_game_pane').style.display = 'block';              
                    document.getElementById('target_image').src = target_image;                                    
                }; 

                // Update the stat of the Drawer (whether they are idle or active)
                function update_state() {
                    document.getElementById("send_message").disabled = !is_drawer_turn || !drawer_uploaded_images;
                    document.getElementById("textfield_input").disabled = !is_drawer_turn || !drawer_uploaded_images;
                    document.getElementById('score').innerHTML = "Score achieved: " + score.toFixed(2) + "/5";

                    if (!is_drawer_turn) {                        
                        document.getElementById('upload-images-button').disabled = true;
                    }else{
                        document.getElementById('upload-images-button').disabled = false;
                    }

                    if (is_drawer_turn == true && drawer_uploaded_images == true) {
                        document.getElementById('send_message').innerHTML = "Send message";   
                        document.getElementById("send_message").style.background='#34e054';
                    }else if (is_drawer_turn == true && drawer_uploaded_images == false){                        
                        document.getElementById('send_message').innerHTML = "Please draw & upload your images";
                        document.getElementById("send_message").style.background='#e03434';
                    }else{
                        document.getElementById('send_message').innerHTML = "Waiting for Teller...";
                        document.getElementById("send_message").style.background='#3498db';
                    }

                    if (is_game_finished == true) {
                        finish_game();
                        return;
                    }
                };

                socket.on('bad_english', function(data) {                    
                    alert(data['text']);                 
                    update_state();
                    document.getElementById('textfield_input').value = previous_message;
                });                

                socket.on('game_data', function(data) {
                    document.getElementById("chat").value = data['text'].replace(/Drawer/gi, "You");
                    document.getElementById("chat").scrollTop = document.getElementById("chat").scrollHeight;                        
                    is_drawer_turn = data['is_drawer_turn'];  
                    drawer_uploaded_images = data['drawer_uploaded_images'];  
                    is_game_finished = data['is_game_finished'];
                    target_image = data['target_image_and_label']['target_image'];
                    score = data['score'];
                    update_state();                
                });       

                // Handle sending a message
                document.getElementById('send_message').addEventListener('mouseup', () => {
                    function send_message(txt) {                  
                        if (txt.length < max_number_of_characters && txt.length > 2) {
                            document.getElementById('textfield_input').value = "";
                            document.getElementById("send_message").disabled = true;
                            document.getElementById("textfield_input").disabled = true;
                            document.getElementById('send_message').innerHTML = "Sending...";   
                            socket.emit('send_message', {'text':txt, 'game_id':game_id, 'user_type':'Drawer', 'email':email});
                        }else if (txt.length > max_number_of_characters) {
                            alert("Your message is too long!");
                        }else{
                            alert("Your message is too short!");
                        }           
                    };

                    var text = document.getElementById('textfield_input').value;
                    previous_message = text;
                    send_message(text);                                    
                });
                
                // Upload images
                $('#upload-images-button').click(function(e) {
                    console.log('uploading images...');
                    document.getElementById('send_message').innerHTML = "Loading...";
                    e.preventDefault();
                    var form_data = new FormData($('#upload-images')[0]);                    
                    $.ajax({
                        type: 'POST',
                        url: '/' + game_id + '/upload',
                        data: form_data,
                        contentType: false,
                        cache: false,
                        processData: false,

                        success: function(data) {
                            console.log(data);

                            if (data == "success") {                                
                                // Refresh our game data!                                
                                socket.emit('get_game_data', {'game_id':game_id, 'user_type':'Drawer', 'email':email}); 
                            }else{
                                alert("Please re-upload your images! (Make sure you are uploading the right images)")
                            }                            
                        },
                    });
                });

                document.getElementById('next_game').addEventListener('mouseup', () => {
                    window.location.href = '/';
                });

                document.getElementById('open_drawing_tool').addEventListener('mouseup', () => {
                    window.open("http://nvidia-research-mingyuliu.com/gaugan/", "_blank"); 
                });                
            });
        </script>

        <style type="text/css">
            .container {
                margin-top: 25px;
                display: flex;
                flex-direction: column;
                width: 100%;
                justify-content: center;
                align-content: center;
                flex-wrap: wrap;
            }

            .pane-left {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: left;
            }

            .pane-right {
                display: flex;
                flex-direction: column;
            }

            .small-button {
                margin-top: 20px;
                width: 120px;
                background-color: #3498db;
                height: 35px;
                text-decoration-color: white;
                color: white;
                border-radius: 7px;
                font-family: monospace;
                font-size: 15px;
            }

            .large-button {
                margin: 5px;
                height: 40px;
                width: 500px;
                background-color: #3498db;
                text-decoration-color: white;
                color: white; border-radius: 7px;
                font-family: monospace;
                font-size: 16px;
            }

            .title {
                font-family: monospace;
                font-size: 16px;
                font-weight: 100;
                color: #3498db;
                text-align: center;
                width: 500px;
            }

            .chat-pane {
                width: 500px;
                height: 400px;
                margin: 5px;
                font-size: 18px;
                font-family: monospace;
            }

            .textfield {
                margin: 5px;
                height: 30px;
                width: 365px;
            }

            .extra-space {
                margin-top: 20px;
            }
        </style>

    </head>

    <body>
        <div class="container">
             
            <div class="pane-right">
                <h1 id="title" class="title">Chat interface</h1>
                <textarea id="chat" class="chat-pane"></textarea> 

                <div id="end_game_pane" style="display: none; margin-top: 25px;">
                    <b>Target image:</b>
                    <img id="target_image" style="width: 350px; height: 350px; margin: 5px; display: none;">      
                    <p id="score">Score achieved: 0</p>
                    <button id="next_game" class="large-button">New Game</button>
                </div>
                            
                <div style="display: flex; justify-content: center; align-items: center; align-content: center;">
                    <b style="height: 25px;">Enter text HERE:</b>
                    <input type="text" id="textfield_input" class="textfield">     
                </div>

                <button id="send_message" class="large-button">Connecting...</button> 
                <button id="open_drawing_tool" class="large-button" style="background-color: #23de4f;">Open Drawing Tool</button>
            </div>

            <form id="upload-images" method="post" enctype="multipart/form-data" class="pane-left">  
                <div class="extra-space">                                        
                    <label for="target_image">Output (gaugan_output.jpg)</label>
                    <input type="file" id="target_image" name="target_image" accept="image/*">
                </div>

                <div class="extra-space">
                    <label for="target_label">Input (gaugan_input.png)</label>
                    <input type="file" id="target_label" name="target_label" accept="image/*">                        
                </div>                                      
                <input id="upload-images-button" type="submit" class="small-button" value="Upload">
            </form>   

            <div style="width: 400px;">
                <br>
                <p>NOTE: If no body responds or interacts after ~10 minutes, please <b>close</b> this tab, and join a new game as a Drawer :)</p>
                <br>
                <b>Brief Instructions:</b>
                <p>1. Wait for the teller to describe the image</p>
                <p>2. Open the drawing tool with the green button, draw your image & then download both of the images. (Ugly image & nice looking image.)</p>
                <p>3. Upload you images by clicking the two "Choose file" buttons, then click the blue upload button.</p>
                <p>4. Ask an informative question (e.g how dense are the trees? How tall is the mountain? Etc...)</p>
                <p>5. Please repeat until the Teller ends the game :)</p>
                <p>6. Please try to make the drawing look as realistic as possible! Even if there is a bad score, we will still give bonus for good looking images!!!</p>
                <br>
            </div>

        </div>             
    </body>
</html>
