<html>
    <head>
        <title>Teller</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
        <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>

        <script type="text/javascript" charset="utf-8">

            // Load variables
            var game_id = '{{ game_id }}';             
            var email = '{{ email }}';
            var is_teller_turn = false;  
            var num_peaks_left = "?";
            var turn_idx = 0;
            var minimum_turns_to_finish_game = 5; // UPDATE ME
            var is_game_finished = false;
            var max_number_of_characters = 275;
            var score = 0;
            var socket;
            var previous_message = "";
            var list_of_connections = "";

            $(document).ready(function() {

                document.getElementById("send_message").disabled = true;
                document.getElementById("textfield_input").disabled = true;
                
                var ext = 'https://';    
                if (location.hostname === "localhost" || location.hostname === "127.0.0.1") {
                    ext = "http://";
                    minimum_turns_to_finish_game = 0;
                }                  

                socket = io.connect(ext + document.domain + ':' + location.port);    

                socket.on('connect', function() {
                    socket.emit('join_game', {'game_id':game_id, 'email':email, 'user_type':'Teller'});                    
                    socket.emit('get_game_data', {'game_id':game_id, 'email':email, 'user_type':'Teller'}); 
                });   

                socket.on('connections', function(data) {
                    function removeDuplicates(array) {
                        return array.filter((a, b) => array.indexOf(a) === b)
                    };

                    if (String(game_id) in data) {
                        arr = data[String(game_id)];
                        arr = removeDuplicates(arr);
                        list_of_connections = arr.join("<br>");
                        document.getElementById('connections').innerHTML = "Currently in this game:<br>" + list_of_connections;
                    };
                });                       
                
                // Tear down this game
                function finish_game() {
                    document.getElementById('peek_button').style.display = "none";                    
                    document.getElementById('send_message').style.display = "none";                    
                    document.getElementById('finish_game').style.display = "none"; 
                    document.getElementById('textfield_input').style.display = "none"; 
                    document.getElementById('title').innerHTML = "Game Finished";     
                    document.getElementById('end_game_pane').style.display = 'block';             
                };

                // Update the stat of the Drawer (whether they are idle or active)
                function update_state() {                         
                    document.getElementById("chat").scrollTop = document.getElementById("chat").scrollHeight;                                        
                    document.getElementById("send_message").disabled = !is_teller_turn;
                    document.getElementById("textfield_input").disabled = !is_teller_turn;
                    document.getElementById('peek_button').innerHTML = "Peek (" + String(num_peaks_left) + ")";   
                    document.getElementById('score').innerHTML = "Score achieved: " + score.toFixed(2) + "/5";                    

                    if (is_teller_turn == true) {
                        document.getElementById('send_message').innerHTML = "Send message";   
                        document.getElementById("send_message").style.background='#34e054';                
                    }else{
                        document.getElementById('send_message').innerHTML = "Waiting for Drawer...";
                        document.getElementById("send_message").style.background='#3498db';
                    }

                    if (is_game_finished == true) {
                        finish_game();
                        return;
                    };
                };

                socket.on('bad_english', function(data) {                    
                    alert(data['text']);                 
                    update_state();
                    document.getElementById('textfield_input').value = previous_message;
                });                

                function update_parameters(data) {
                    document.getElementById("chat").value = data['text'].replace(/Teller/gi, "You");
                    document.getElementById('target_image').src = data['target_image_and_label']['target_image'];                   
                    document.getElementById('target_label').src = data['target_image_and_label']['target_label'];
                    document.getElementById('peek').src = data['peek_image'];
                    is_teller_turn = !data['is_drawer_turn'];
                    num_peaks_left = data['num_peaks_left'];
                    turn_idx = Math.max(data['turn_idx'], turn_idx);
                    is_game_finished = data['is_game_finished'];
                    score = data['score'];
                };

                socket.on('game_data', function(data) {                                                            
                    update_parameters(data);
                    update_state();                    
                });  
                
                document.getElementById('send_message').addEventListener('mouseup', () => {                                     
                    var txt = document.getElementById('textfield_input').value;
                    previous_message = txt;

                    function send_message() {
                        document.getElementById('send_message').innerHTML = "Sending...";   
                        socket.emit('send_message', {'text':txt, 'game_id':game_id, 'email':email, 'user_type':'Teller'});  
                    };
        
                    if (txt.length < max_number_of_characters && txt.length > 2) {
                        document.getElementById('textfield_input').value = "";                        
                        document.getElementById("send_message").disabled = true;
                        document.getElementById("textfield_input").disabled = true;
                        send_message(txt)                                   
                    }else if (txt.length > max_number_of_characters) {
                        alert("Your message is too long!");
                    }else{
                        alert("Your message is too short!");
                    }                    
                });

                // peek
                document.getElementById('peek_button').addEventListener('mouseup', () => {                      
                    // alert(turn_idx);

                    if (turn_idx < 1) {
                        alert("Sorry! It's too early in the game to peek!");                        
                        return;
                    }

                    if (num_peaks_left <= 0) {
                        alert("Sorry! You don't have any more peeks left!");
                        return;
                    };
 
                    if ( confirm("Are you sure you want to peek?") ) {
                        socket.emit('peek', {'game_id':game_id, 'email':email, 'user_type':'Teller'});
                    }
                });

                document.getElementById('finish_game').addEventListener('mouseup', () => {
                    if (turn_idx < minimum_turns_to_finish_game) {
                        alert('Sorry, please complete at least ' + String(minimum_turns_to_finish_game) + ' turns of dialog before you can finish the game!');
                        return;
                    };
                    
                    if (confirm("Are you sure you want to finish the game?")) {
                        socket.emit('finish_game', {'game_id':game_id, 'email':email, 'user_type':'Teller'});
                    }
                });

                document.getElementById('next_game').addEventListener('mouseup', () => {
                    window.location.href = '/';
                });
            });
        </script>

        <style type="text/css">
            .container {
                margin-top: 25px;
                display: flex;
                flex-direction: column;
                width: 100%;
                justify-content: center;
                align-content: center;
                flex-wrap: wrap;
            }

            .pane-left {
                display: flex;
                flex-direction: row;
                justify-content: center;
            }

            .pane-right {
                display: flex;
                align-content: center;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }

            .small-button {
                margin-top: 20px;
                width: 120px;
                background-color: #3498db;
                height: 35px;
                text-decoration-color: white;
                color: white;
                border-radius: 7px;
                font-family: monospace;
                font-size: 15px;
            }

            .large-button {
                margin: 5px;
                height: 40px;
                width: 500px;
                background-color: #3498db;
                text-decoration-color: white;
                color: white; border-radius: 7px;
                font-family: monospace;
                font-size: 16px;
            }

            .title {
                font-family: monospace;
                font-size: 16px;
                font-weight: 100;
                color: #3498db;
                /*text-align: center;*/
                width: 500px;
            }

            .chat-pane {
                width: 500px;
                height: 400px;
                margin: 5px;
                font-size: 18px;
                font-family: monospace;
            }

            .textfield {
                margin: 5px;
                height: 30px;
                width: 365px;
            }

            .extra-space {
                margin-top: 20px;
            }
        </style>

    </head>

    <body>

        <div class="container">
            <h1 id="title" class="title">Chat interface</h1>
            <p id="connections"></p>

            <div class="pane-left">                
                <img id="target_image" style="width: 350px; height: 350px; margin: 5px;">  
                <img id="target_label" style="width: 450px; height: 350px; margin: 5px;">  
                <img id="peek" style="width: 350px; height: 350px; margin: 5px;">            
            </div>

            <div class="pane-right">                
                <textarea id="chat" class="chat-pane"></textarea> 

                <div style="display: flex; justify-content: center; align-items: center; align-content: center;">
                    <b style="height: 25px;">Enter text HERE:</b>
                    <input type="text" id="textfield_input" class="textfield">     
                </div>
                

                <button id="send_message" class="large-button">Connecting...</button> 
                <button id="peek_button" class="large-button" style="background-color: #fc6603;">Peek (?)</button>
                <button id="finish_game" class="large-button" style="background-color: #9342f5;">Finish Game</button> 

                <div id="end_game_pane" style="display: none; margin-top: 25px;">                                    
                    <p id="score">Score achieved: 0</p>
                    <button id="next_game" class="large-button">Next Game</button>
                </div>                
            </div>

            <div class="pane-right">
                <br>
                <p>NOTE: If no body responds or interacts after ~10 minutes, please <b>close</b> this tab, and join a new game as a Teller :)</p>
                <br>
                <b>Brief Instructions:</b>
                <p>1. Please sequentially describe the image to the Drawer in a way they will be able to re-draw the image. You don't have to describe the WHOLE image at once, you can first describe the mountains, then the trees, etc.</p>
                <p>2. Respond to the questions the Drawer asks</p>
                <p>3. You have the option to "peek" by using the orange button to see what the Drawer has drawn thus far.</p>
                <p>4. You can end the game after 5 turns, but the more turns is better :)</p>
                <p>5. The Drawer has very limited control over the generated image, they cannot manipulate the image perfectly, so as long as its a good effort made, don't worry if the image isn't pixel perfect. </p>
                <br>
            </div>
        </div>    
    </body>
</html>
